[Unit]
Description=Neo4j metrics relay service.
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/metrics-relay/relay.sh --host 0.0.0.0

[Install]
WantedBy=multi-user.target
